.content-container {
  @apply mx-auto border border-gray-100 rounded my-4 bg-white;
  &.--container {
    @apply p-4 max-w-screen-lg shadow-md;
  }
  &.--form {
    @apply p-4 border-gray-300;
  }
}

.page-title {
  @apply text-xl uppercase relative pl-3 mb-4 font-bold;
  color: #fb6340;

  &:before {
    @apply absolute block h-full left-0 top-0;
    content: '';
    background-color: #0d6efd;
    width: 3px;
  }
}

.page-nav {
    @apply z-10 relative flex justify-between items-center;
}
